/* Font styles Start */
h2{
    font-weight: bold;
    font-size: 60px;
}

/* Font styles End */

.bg-body-tertiary{
    background-color:#541454 !important;
  
}

.body1{
    background-color:#541454 !important;
  
}
.nav-link{
    color: white;
}

#container {
    
    display: flex;
  flex-wrap: wrap;
  background-color:#541454 !important;
  padding: 0%;
  
  }

  .column {
    flex-basis: 50%;
    padding: 5px;
    padding-top: 80px;
    
  }

  .body2{
    background-color: #F4EDE4;
  }

  #container1 {
    
    display: flex;
            flex-wrap: wrap;
            padding: 0%;
            justify-content: center;
  
  }
  .column1 {
    flex-basis: 10%; 
    justify-content: center;
            /* padding: 5px; */
  }

  column1 img {
    width: 100%;
    height: auto;
    max-width: 100px; /* Adjust the value as needed */
    max-height: 100px; /* Adjust the value as needed */
}
    
            
    
    
  
  .trusted{
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    font-size: small;
  }
  
  .etsy{
    padding-left: 40px;
  }

  .nasa{
    margin-top: -15px;
  }
/* Body 3 Start */
  /* .body3{
    background-color:#F4EDE4;
  
}

  #container3 {
    
    display: flex;
  flex-wrap: wrap;
  
  padding: 0%;
  
  }

  .column3 {
    flex-basis: 50%;
    padding: 20px;
    padding-top: 80px;
    
  }
  .bring{
    margin-top: -20px;
    margin-left: 40px;
  } */
/* Body 3 end */




/* Body 4 Start */
.body4{
    background-color:#F4EDE4;}

  #container4 {
    
    display: flex;
  flex-wrap: wrap;
  
  padding: 0%;
  
  }

  .column4 {
    flex-basis: 50%;
    padding: 20px;
    padding-top: 80px;
    
  }
  #text1{
    padding-left: 70px;
  }
  .column4 >p{
        font-size: 20px;
    font-weight:530;
  }
  .column4 >a{
    font-size: 20px;
font-weight:530;
text-decoration:none;
}
  /* Body 4 End */


  /* Body 5 Start */
.body4{
    background-color:#F4EDE4;}

  #container5 {
    
    display: flex;
  flex-wrap: wrap;
  
  padding: 0%;
  
  }

  .column5 {
    flex-basis: 50%;
    padding: 20px;
    padding-top: 80px;
    
  }
  #text5{
    padding-left: 70px;
  }
  .column5 >p{
        font-size: 20px;
    font-weight:530;
  }
  .column5 >a{
    font-size: 20px;
font-weight:530;
text-decoration:none;
}
  /* Body 5 End */

  /* Body 6 Start */
.body6{
    background-color:#F4EDE4;}

  #container6 {
    
    display: flex;
  flex-wrap: wrap;
  
  padding: 0%;
  
  }

  .column6 {
    flex-basis: 50%;
    padding: 20px;
    padding-top: 80px;
    
  }
  #text6{
    padding-left: 70px;
  }
  .column6 >p{
        font-size: 20px;
    font-weight:530;
  }
  .column6 >a{
    font-size: 20px;
font-weight:530;
text-decoration:none;
}
  /* Body 6 End */

   /* Body 7 Start */
.body7{
    background-color:white;}
    

  #container7 {
    
    display: flex;
  flex-wrap: wrap;
  
  padding: 0%;
  border: 0%;
  
  }

  .column7 {
    flex-basis: 50%;
    padding: 20px;
    padding-top: 80px;
    
  }
  #text7{
    padding-left: 70px;
    
  }
  .hw{
    font-size: 25px;
font-weight:330;
font-style: italic;
}
  .pj{
        font-size: 20px;
    font-weight:530;
  }
  .pw{
    font-size: 20px;
font-weight:530;
}
  .column7 >a{
    font-size: 20px;
font-weight:530;
text-decoration:none;
}
.pp{
    text-align: center;
    font-size: small;
    color: gray;
}
  /* Body 7 End */
